$breakpoints: (
  s: "only screen and (max-width: 640px)",
  m: "only screen and (max-width: 1024px)",
);

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin montserrat-medium($size: 27px) {
  font: {
    weight: normal;
    family: 'Montserrat:500';
    size: $size;
  }
}

@mixin body-font($size: 16px) {
  font: {
    family: 'YuGothic';
    weight: 500;
    size: $size;
  }
}
