$breakpoints: (
  s: "only screen and (max-width: 640px)",
  m: "only screen and (max-width: 1024px)",
);

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
